<!-- HTML info -->
<%- include('partials/header') %>

<!-- Navigation Bar -->
<%- include('partials/navbar') %>

<div class="createBody">
    <div class="createInner">
        <form action="" method="POST">
                <div class="gameSelect">
                    <!-- This should also generate cover art -->
                    <p>Game:</p>
                    <input class="gameSearch" type="search" name="" id="searchInput" placeholder="Search Games" size="68" style="height: 2rem">
                    <div id="searchResults"></div>
                </div>
                <div class="titleSection">
                    <p>Review Title:</p>
                    <input class="titleOpt" type="text" name="" id="" placeholder="Enter Title Here..." size="68" style="height: 2rem;">
                </div>
                <div class="platformSelect">
                    <p>System:</p>
                    <select class="platformOpt" name="system" id="systemSelect" style="height: 2rem;">
                        <option value="playstation">Playstation</option>
                        <option value="xbox">Xbox</option>
                        <option value="nintendo">Nintendo</option>
                        <option value="pc">PC</option>
                    </select>         
                </div>
                <div class="ratingSelect">
                    <p>Rating:</p>
                    <input class="ratingOpt" type="number" name="" id="" min="1" max="10" placeholder="#" style="height: 2rem;">
                </div>

                <div class="reviewText">
                    <p>Review:</p>
                    <textarea class="textBox" name="" id="" cols="68" rows="10" style="resize: none;" placeholder="Enter Review Here..."></textarea>
                </div>
                <div class="submitBtn">
                    <button class="submitReview" type="submit" style="height: 2rem;">Submit</button>
                </div>
        </form>
    </div>
</div>