<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Arcade Archive 🎮</title>
</head>
<body>

    <!-- Navigation Section -->
    <div class="navSection">
        <div class="innerNav">
            <div class="logo">
                <!-- icon -->
                <p>Kaleb's Arcade Archive</p>
            </div>
        </div>
    </div>

    <!-- Main Section -->
    <div class="mainSection">
        <div class="innerMain">
            <h2>Game Reviews</h2>
            <div class="content">
                <div class="innerContent">

                    <!-- Bring Review Section in from partials -->

                </div>
            </div>
        </div>
    </div>


</body>
</html>