<%- include('partials/header') %>

<body>

    <!-- Navigation Section -->
<%- include('partials/navbar') %>

    <!-- Main Section -->
    <div class="mainSection">
        <div class="innerMain">
            <div class="mainHeader">
                <div class="sectionTitle">
                    <h2>Game Reviews</h2>
                </div>
                <!-- add review btn -->
                <div class="addReview">
                    <a href="/create.ejs"><span class="material-symbols-outlined addReviewBtn">add_circle</span></a>
                </div>
            </div>

            <div class="content">
                <div class="innerContent">
                    <!-- Bring Review Section in from partials -->
                    <%- include('partials/reviewComponent') %>
                </div>
            </div>
        </div>
    </div>
    
<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Backend JS -->
<script src="index.js"></script>

<!-- Frontend JS -->
<script src="main.js"></script>



</body>



</html>