<%- include('partials/header') %>

<body>

    <!-- Navigation Section -->
<%- include('partials/navbar') %>

    <!-- Main Section -->
    <div class="mainSection">
        <div class="innerMain">
            <div class="mainHeader">
                <div class="sectionTitle">
                    <h2>Game Reviews</h2>
                </div>
                <div class="addReview">
                    <a href=""><span class="material-symbols-outlined addReviewBtn">add_circle</span></a>
                </div>
            </div>

            <div class="content">
                <div class="innerContent">
                    <!-- Bring Review Section in from partials -->
                    <%- include('partials/review') %>
                </div>
            </div>
        </div>
    </div>


</body>
</html>