<div class="articleComponent">
    <div class="articleInner">
        <!-- Left -->
        <div class="coverArt">
            <img src="" alt="">
        </div>
        <!-- Right -->
        <div class="systemBadge"></div>
        <div class="ratingBadge"></div>
        <div class="gameTitle"></div>
        <div class="articleDate"></div>
    </div>
</div>