<div class="navSection">
    <div class="innerNav">
        <div class="logo">
            <div class="iconLink">
                <a href="" class="anchorCSS">
                    <span class="material-symbols-outlined logoIcon" style="font-size: 48px">
                    sports_esports
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>