<%- include("partials/header.ejs") %>

<body>
    <!-- Top of Newspaper -->
    <div class="topSection">
        <!-- Left -->
        <div class="containerWrapper leftContainer">
            <div class="containerInner">
                <div class="upperSection">
                    <h4 class="containerTxt">Doctor Octavius Breaks Out of Raft...Again!</h4>
                </div>

                <div class="topSectionGap"></div>

                <div class="lowerSection lowerSectionBC">
                    <p class="pageNum">Page 3</p>
                </div>
            </div>
        </div>
        <!-- Right -->
        <div class="containerWrapper rightContainer">
            <div class="containerInner">
                <div class="upperSection">
                    <h4 class="containerTxt">Miles Morales wins 2nd Spacebound Young Researchers Award</h4>
                </div>

                <div class="topSectionGap"></div>

                <div class="lowerSection lowerSectionBC">
                    <p class="pageNum">Page 4</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Newspaper Title -->
    <div class="titleSection">
        <div class="titleWrapper">

            <div class="titleText">
                <h1 class="titleTxt">Daily</h1>
            </div>

            <div class="titleLogo">
                <img src="/img/Daily Bugle Horn Logo.png" alt="" class="titleImg">
            </div>

            <div class="titleText">
                <h1 class="titleTxt">Bugle</h1>
            </div>

        </div>
    </div>

    <div class="headlineSection">
        <div class="headlineWrapper">

            <div class="headlineTitle">
                <h1 class="headlineTxt">SPIDEY PALS!</h1>
            </div>

            <!-- Newspaper Image -->
            <div class="headlineImgSection">
                <img class="headlineImg" src="/img/SpideyPals.png" alt="">
            </div>

            <div class="headlineArticle">

                <div class="article">
                    <div class="articleContainer">
                        <h1 class="headlineTxtLow">SPIDERMAN, GREEN GOBLIN, DISCUSS NEXT PLOT!</h1>
                    </div>
                </div>

                <!-- Add Article Button -->

                <div class="btnSection">
                    <!-- BUTTON -->
                    <button onclick="window.location.href = '/new-article';" class="addBtn">
                        <div class="btnTxt">
                            Add Article Below
                        </div>
                    </button>
                </div>

                <!-- Added Articles -->
                <div class="articleSection">
                    <div class="addedArticle">
                        <div class="articleContainer">
                                <% articles.forEach((article) => { %>
                                <div class="articleBox">
                                <a href="/edit/<%= article.id %>"> 
                                    <h3 class="articleTxt"><%= article.title %></h3>
                                </a>
                                <p class="articleTxt"><%= article.content %></p>
                            </div>
                            <% }) %>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <div class="footer">
        <div class="footerTxt">
            <h4 class="footer">EXCLUSIVE PHOTOS OF THE MENACE SPIDERMAN: PAGES 4-6</h4>
        </div>
    </div>

</body>
</html>