<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Daily Bugle</title>

    <link rel="stylesheet" href="/Daily Bugle/public/styles/styles.css">

</head>
<body>
    <!-- Top of Newspaper -->
    <div class="topSection">
        <!-- Left -->
        <div class="leftContainerWrapper">
            <div class="leftContainerInner">
                <div class="upperSection">
                    <h4>Doctor Octavius Breaks Out of Raft</h4>
                </div>
                <div class="lowerSection">
                    <p>Page 3</p>
                </div>
            </div>
        </div>
        <!-- Right -->
        <div class="rightContainerWrapper">
            <div class="rightContainerInner">
                <div class="upperSection">
                    <h4>Miles Morales wins 2nd Spacebound Young Researchers Award</h4>
                </div>
                <div class="lowerSection">
                    <p>Page 4</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Newspaper Title -->
    <div class="titleSection">

        <div class="titleWrapper">

            <div class="leftTitle">
                <h1>Daily</h1>
            </div>
            <div class="titleLogo">

            </div>
            <div class="rightTitle">
                <h1>Bugle</h1>
            </div>
        </div>

    </div>

</body>
</html>