/* Google Font Note: Play font has only weights of 400 and 700, normal */

* {
    font-family:  "Play", "Roboto", arial;
}

body {
   margin-left: 1rem;
   margin-right: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.iconLink, a {
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
}

/* Main Page */
.mainHeader {
    display: flex;
    justify-content: space-between;
}

.addReview {
    display: flex;
    font-size: 2rem;
    align-items: center;
}

.addReviewBtn {
    display: flex;
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    align-items: center;
}

/* Create Page */

.createBody {
    margin-top: 2rem;
}

.createInner {
    display: flex;
    flex-direction: column;
    align-items: left;
    /* Remove this to readjust submit btn location */
    width: 30rem;
}

.gameSelect {
    margin-bottom: 1.5rem;
}

.gameSearch {
    border-radius: 6px;
    border: solid 1px #212121;
}

.platformSelect {
    margin-bottom: 1.5rem;
}

.platformOpt {
    border-radius: 6px;
}

.ratingSelect {
    margin-bottom: 1.5rem;
}

.ratingOpt {
    border-radius: 6px;
    border: solid 1px #212121;
}

.reviewText {
    margin-bottom: 1.5rem;
}

.textBox {
    border-radius: 6px;
}

.submitBtn {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.submitReview {
    background-color: transparent;
    color: #212121;
    border: 1px solid #212121;
    transition: ease-in-out .2s;
    border-radius: 6px;
}

.submitReview:hover {
    background-color: #212121;
    color: white;
    cursor: pointer;
}